CurrencyExchange-master/CurrencyExchange.TestClient/Connected Services/CurrencyServiceRef/CurrencyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CurrencyExchange.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CurrencyExchange.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCurrencyRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CurrencyRate" nillable="true" type="tns:CurrencyRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCurrencyRate" nillable="true" type="tns:ArrayOfCurrencyRate" />
  <xs:complexType name="CurrencyRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mid" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyRate" nillable="true" type="tns:CurrencyRate" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PlnValue" type="xs:double" />
      <xs:element minOccurs="0" name="Rate" type="xs:double" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="ArrayOfHistoricalRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HistoricalRate" nillable="true" type="tns:HistoricalRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistoricalRate" nillable="true" type="tns:ArrayOfHistoricalRate" />
  <xs:complexType name="HistoricalRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoricalRate" nillable="true" type="tns:HistoricalRate" />
</xs:schema>